<section class="section-about-me">
  <div class="introduction-about-me">
    <div class="text-block-about-me">
      <h2>I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND <span class="functional-about-me">FUNCTIONAL</span>
        <span class="websites-about-me">WEBSITES</span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
      </h2>
    </div>
    <div class="image-block-about-me">
      <img src="../img/About-me/img.bg-about.me.jpg" alt="Lloyd Jefferson" />
    </div>
  </div>
  <div class="section-about-me">
    <h1 class="visually-hidden">About Me</h1>
      <div class="accordion-about-me">
        <div class="about-me-section">
          <h3 class="about-me-header">
            <button type="button" class="about-me-trigger">
              ABOUT ME
              <div class="arrow-container-about-me">
                <span class="arrow-about-me"></span>
              </div>
            </button>
          </h3>
          <div class="about-me-panel">
            <ul class="about-me-list">
              <li>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development.</li>
              <li>Able to work both independently and in a team. I can effectively cooperate with colleagues.</li>
            </ul>
          </div>
        </div>
    
        <div class="about-me-section">
          <h3 class="about-me-header">
            <button type="button" class="about-me-trigger">
              ROLE
              <div class="arrow-container-about-me">
                <span class="arrow-about-me"></span>
              </div>
            </button>
          </h3>
          <div class="about-me-panel">
            <ul class="about-me-list">
              <li>Frontend development</li>
              <li>Headless CMS, WordPress</li>
              <li>Blender (enjoy)</li>
            </ul>
          </div>
        </div>
    
        <div class="about-me-section">
          <h3 class="about-me-header">
            <button type="button" class="about-me-trigger">
              EDUCATION
              <div class="arrow-container-about-me">
                <span class="arrow-about-me"></span>
              </div>
            </button>
          </h3>
          <div class="about-me-panel">
            <ul class="about-me-list">
              <li>2018 - 2019: Frontend Development Diploma, GoIT School New York</li>
              <li>2019 - 2020: Advanced Web Development Certificate, GoIT School, New York</li>
              <li>2020 - 2022: Advanced Blender Animation Techniques, Udemy</li>
            </ul>
          </div>
        </div>
      </div>
  
          <div class="skills-container">
            <div class="swiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide bubble html-css">HTML/CSS</li>
                <li class="swiper-slide bubble javascript">JavaScript</li>
                <li class="swiper-slide bubble react">React</li>
                <li class="swiper-slide bubble nodejs">Node.js</li>
                <li class="swiper-slide bubble react-native">React Native</li>
                <li class="swiper-slide bubble soft-skills">Soft Skills</li>
              </ul>

              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>