<!-- RECOVER FROM SECTION COVERS -->

<section class="covers-section">
  <div class="content container">
    <h2 class="visually-hidden">Cover gallery</h2>
    <ul class="covers-gallery">
      <li class="pictures-line">
        <ul class="pictures-list">
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/power_pulse_1x.jpg 1x,
                ../img/Covers/power_pulse_2x.jpg 2x
              "
              src="../img/Covers/power_pulse_1x.jpg"
              alt="Power Pulse"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/mimino_1x.jpg 1x,
                ../img/Covers/mimino_2x.jpg 2x
              "
              src="../img/Covers/mimino_1x.jpg"
              alt="Mimino"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/ukrainian_artistry_1x.jpg 1x,
                ../img/Covers/ukrainian_artistry_2x.jpg 2x
              "
              src="../img/Covers/ukrainian_artistry_1x.jpg"
              alt="Ukrainian Artistry"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/organic_vegetables_1x.jpg 1x,
                ../img/Covers/organic_vegetables_2x.jpg 2x
              "
              src="../img/Covers/organic_vegetables_1x.jpg"
              alt="Organic Vegetables"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/wallet_1x.jpg 1x,
                ../img/Covers/wallet_2x.jpg 2x
              "
              src="../img/Covers/wallet_1x.jpg"
              alt="Wallet"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/chego_jewellery_1x.jpg 1x,
                ../img/Covers/chego_jewellery_2x.jpg 2x
              "
              src="../img/Covers/chego_jewellery_1x.jpg"
              alt="Chego Jewellery"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/energy_flow_1x.jpg 1x,
                ../img/Covers/energy_flow_2x.jpg 2x
              "
              src="../img/Covers/energy_flow_1x.jpg"
              alt="Energy Flow"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/fruit_box_1x.jpg 1x,
                ../img/Covers/fruit_box_2x.jpg 2x
              "
              src="../img/Covers/fruit_box_1x.jpg"
              alt="Fruit Box"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/english_excellence_1x.jpg 1x,
                ../img/Covers/english_excellence_2x.jpg 2x
              "
              src="../img/Covers/english_excellence_1x.jpg"
              alt="English Excellence"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ../img/Covers/starlight_studio_1x.jpg 1x,
                ../img/Covers/starlight_studio_2x.jpg 2x
              "
              src="../img/Covers/starlight_studio_1x.jpg"
              alt="Starlight Studio"
              class="covers-picture"
            />
          </li>
        </ul>
      </li>
      <li class="pictures-line">
        <ul class="pictures-list">
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/ukrainian_artistry_1x.jpg 1x,
                ./img/Covers/ukrainian_artistry_2x.jpg 2x
              "
              src="../img/Covers/ukrainian_artistry_1x.jpg"
              alt="Ukrainian Artistry"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/organic_vegetables_1x.jpg 1x,
                ./img/Covers/organic_vegetables_2x.jpg 2x
              "
              src="./img/Covers/organic_vegetables_1x.jpg"
              alt="Organic Vegetables"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/wallet_1x.jpg 1x,
                ./img/Covers/wallet_2x.jpg 2x
              "
              src="../img/Covers/wallet_1x.jpg"
              alt="Wallet"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/chego_jewellery_1x.jpg 1x,
                ./img/Covers/chego_jewellery_2x.jpg 2x
              "
              src="./img/Covers/chego_jewellery_1x.jpg"
              alt="Chego Jewellery"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/energy_flow_1x.jpg 1x,
                ./img/Covers/energy_flow_2x.jpg 2x
              "
              src="./img/Covers/energy_flow_1x.jpg"
              alt="Energy Flow"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/fruit_box_1x.jpg 1x,
                ./img/Covers/fruit_box_2x.jpg 2x
              "
              src="./img/Covers/fruit_box_1x.jpg"
              alt="Fruit Box"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/english_excellence_1x.jpg 1x,
                ./img/Covers/english_excellence_2x.jpg 2x
              "
              src="./img/Covers/english_excellence_1x.jpg"
              alt="English Excellence"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/starlight_studio_1x.jpg 1x,
                ./img/Covers/starlight_studio_2x.jpg 2x
              "
              src="./img/Covers/starlight_studio_1x.jpg"
              alt="Starlight Studio"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/power_pulse_1x.jpg 1x,
                ./img/Covers/power_pulse_2x.jpg 2x
              "
              src="./img/Covers/power_pulse_1x.jpg"
              alt="Power Pulse"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/mimino_1x.jpg 1x,
                ./img/Covers/mimino_2x.jpg 2x
              "
              src="./img/Covers/mimino_1x.jpg"
              alt="Mimino"
              class="covers-picture"
            />
          </li>
        </ul>
      </li>
      <li class="pictures-line">
        <ul class="pictures-list">
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/wallet_1x.jpg 1x,
                ./img/Covers/wallet_2x.jpg 2x
              "
              src="./img/Covers/wallet_1x.jpg"
              alt="Wallet"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/chego_jewellery_1x.jpg 1x,
                ./img/Covers/chego_jewellery_2x.jpg 2x
              "
              src="./img/Covers/chego_jewellery_1x.jpg"
              alt="Chego Jewellery"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/energy_flow_1x.jpg 1x,
                ./img/Covers/energy_flow_2x.jpg 2x
              "
              src="./img/Covers/energy_flow_1x.jpg"
              alt="Energy Flow"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/fruit_box_1x.jpg 1x,
                ./img/Covers/fruit_box_2x.jpg 2x
              "
              src="./img/Covers/fruit_box_1x.jpg"
              alt="Fruit Box"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/english_excellence_1x.jpg 1x,
                ./img/Covers/english_excellence_2x.jpg 2x
              "
              src="./img/Covers/english_excellence_1x.jpg"
              alt="English Excellence"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/starlight_studio_1x.jpg 1x,
                ./img/Covers/starlight_studio_2x.jpg 2x
              "
              src="./img/Covers/starlight_studio_1x.jpg"
              alt="Starlight Studio"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/power_pulse_1x.jpg 1x,
                ./img/Covers/power_pulse_2x.jpg 2x
              "
              src="./img/Covers/power_pulse_1x.jpg"
              alt="Power Pulse"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/mimino_1x.jpg 1x,
                ./img/Covers/mimino_2x.jpg 2x
              "
              src="./img/Covers/mimino_1x.jpg"
              alt="Mimino"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/ukrainian_artistry_1x.jpg 1x,
                ./img/Covers/ukrainian_artistry_2x.jpg 2x
              "
              src="./img/Covers/ukrainian_artistry_1x.jpg"
              alt="Ukrainian Artistry"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/organic_vegetables_1x.jpg 1x,
                ./img/Covers/organic_vegetables_2x.jpg 2x
              "
              src="./img/Covers/organic_vegetables_1x.jpg"
              alt="Organic Vegetables"
              class="covers-picture"
            />
          </li>
        </ul>
      </li>
      <li class="pictures-line">
        <ul class="pictures-list">
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/fruit_box_1x.jpg 1x,
                ./img/Covers/fruit_box_2x.jpg 2x
              "
              src="./img/Covers/fruit_box_1x.jpg"
              alt="Fruit Box"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/english_excellence_1x.jpg 1x,
                ./img/Covers/english_excellence_2x.jpg 2x
              "
              src="./img/Covers/english_excellence_1x.jpg"
              alt="English Excellence"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/starlight_studio_1x.jpg 1x,
                ./img/Covers/starlight_studio_2x.jpg 2x
              "
              src="./img/Covers/starlight_studio_1x.jpg"
              alt="Starlight Studio"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/power_pulse_1x.jpg 1x,
                ./img/Covers/power_pulse_2x.jpg 2x
              "
              src="./img/Covers/power_pulse_1x.jpg"
              alt="Power Pulse"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/mimino_1x.jpg 1x,
                ./img/Covers/mimino_2x.jpg 2x
              "
              src="./img/Covers/mimino_1x.jpg"
              alt="Mimino"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/ukrainian_artistry_1x.jpg 1x,
                ./img/Covers/ukrainian_artistry_2x.jpg 2x
              "
              src="./img/Covers/ukrainian_artistry_1x.jpg"
              alt="Ukrainian Artistry"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/organic_vegetables_1x.jpg 1x,
                ./img/Covers/organic_vegetables_2x.jpg 2x
              "
              src="./img/Covers/organic_vegetables_1x.jpg"
              alt="Organic Vegetables"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/wallet_1x.jpg 1x,
                ./img/Covers/wallet_2x.jpg 2x
              "
              src="./img/Covers/wallet_1x.jpg"
              alt="Wallet"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/chego_jewellery_1x.jpg 1x,
                ./img/Covers/chego_jewellery_2x.jpg 2x
              "
              src="./img/Covers/chego_jewellery_1x.jpg"
              alt="Chego Jewellery"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/energy_flow_1x.jpg 1x,
                ./img/Covers/energy_flow_2x.jpg 2x
              "
              src="./img/Covers/energy_flow_1x.jpg"
              alt="Energy Flow"
              class="covers-picture"
            />
          </li>
        </ul>
      </li>
      <li class="pictures-line">
        <ul class="pictures-list">
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/starlight_studio_1x.jpg 1x,
                ./img/Covers/starlight_studio_2x.jpg 2x
              "
              src="./img/Covers/starlight_studio_1x.jpg"
              alt="Starlight Studio"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/power_pulse_1x.jpg 1x,
                ./img/Covers/power_pulse_2x.jpg 2x
              "
              src="./img/Covers/power_pulse_1x.jpg"
              alt="Power Pulse"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/mimino_1x.jpg 1x,
                ./img/Covers/mimino_2x.jpg 2x
              "
              src="./img/Covers/mimino_1x.jpg"
              alt="Mimino"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/ukrainian_artistry_1x.jpg 1x,
                ./img/Covers/ukrainian_artistry_2x.jpg 2x
              "
              src="./img/Covers/ukrainian_artistry_1x.jpg"
              alt="Ukrainian Artistry"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/organic_vegetables_1x.jpg 1x,
                ./img/Covers/organic_vegetables_2x.jpg 2x
              "
              src="./img/Covers/organic_vegetables_1x.jpg"
              alt="Organic Vegetables"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/wallet_1x.jpg 1x,
                ./img/Covers/wallet_2x.jpg 2x
              "
              src="./img/Covers/wallet_1x.jpg"
              alt="Wallet"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/chego_jewellery_1x.jpg 1x,
                ./img/Covers/chego_jewellery_2x.jpg 2x
              "
              src="./img/Covers/chego_jewellery_1x.jpg"
              alt="Chego Jewellery"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/energy_flow_1x.jpg 1x,
                ./img/Covers/energy_flow_2x.jpg 2x
              "
              src="./img/Covers/energy_flow_1x.jpg"
              alt="Energy Flow"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/fruit_box_1x.jpg 1x,
                ./img/Covers/fruit_box_2x.jpg 2x
              "
              src="./img/Covers/fruit_box_1x.jpg"
              alt="Fruit Box"
              class="covers-picture"
            />
          </li>
          <li class="pictures-item">
            <img
              srcset="
                ./img/Covers/english_excellence_1x.jpg 1x,
                ./img/Covers/english_excellence_2x.jpg 2x
              "
              src="./img/Covers/english_excellence_1x.jpg"
              alt="English Excellence"
              class="covers-picture"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
