<section id="faq" class="faq-container">
  <div class="container">
  <h2 class="faq-title">FAQ</h2> 
  <div class="accordion-container">
    <div class="ac">
      <h3 class="ac-header">
        <button type="button" class="ac-trigger">
          What programming languages are most often used in your project?
          <span class="arrow-container ac-icon">
            <span class="arrow"></span>
          </span>
        </button>
      </h3>
      <div class="ac-panel">
        <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
      </div>
    </div>

    <div class="ac">
      <h3 class="ac-header">
        <button type="button" class="ac-trigger">
          What are the deadlines for the project?
          <span class="arrow-container ac-icon">
            <span class="arrow"></span>
          </span>
        </button>
      </h3>
      <div class="ac-panel">
        <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources.</p>
      </div>
    </div>

    <div class="ac">
      <h3 class="ac-header">
        <button type="button" class="ac-trigger">
          What payment methods do you accept?
          <span class="arrow-container ac-icon">
            <span class="arrow"></span>
          </span>
        </button>
      </h3>
      <div class="ac-panel">
        <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin and Ethereum.</p>
      </div>
    </div>

    <div class="ac">
      <h3 class="ac-header">
        <button type="button" class="ac-trigger">
          How can I contact you?
          <span class="arrow-container ac-icon">
            <span class="arrow"></span>
          </span>
        </button>
      </h3>
      <div class="ac-panel">
        <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
      </div>
    </div>

    <div class="ac">
      <h3 class="ac-header">
        <button type="button" class="ac-trigger">
          Do you provide advice or support?
          <span class="arrow-container ac-icon">
            <span class="arrow"></span>
          </span>
        </button>
      </h3>
      <div class="ac-panel">
        <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources.</p>
      </div>
    </div>

    <div class="ac">
      <h3 class="ac-header">
        <button type="button" class="ac-trigger">
          What does the process of developing a software product look like from idea to implementation?
          <span class="arrow-container ac-icon">
            <span class="arrow"></span>
          </span>
        </button>
      </h3>
      <div class="ac-panel">
        <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin and Ethereum.</p>
      </div>
    </div>
  </div>
</div>
</section>