<section class="section-hero">
  <div class="container">
    <h1 class="hero-title">
      Hello. <br />
      I'm Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="soc-icon">
      <li class="soc-item-icon">
        <a
          class="soc-icon-link"
          href="https://www.instagram.com/goitclub/"
          target="blank"
        >
          <svg class="soc-icom-svg" width="13" height="17">
            <use href="./img/icon.svg#icon-IG"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item-icon">
        <a
          class="soc-icon-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="soc-icom-svg" width="16" height="17">
            <use href="./img/icon.svg#icon-FB"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item-icon">
        <a
          class="soc-icon-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="soc-icom-svg" width="18" height="17">
            <use href="./img/icon.svg#icon-YT"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item-icon">
        <a
          class="soc-icon-link"
          href="https://oleksiyvoloshyn.github.io/projectJavaGrop-11/"
          target="_blank"
        >
          <svg class="soc-icom-svg" width="20" height="17">
            <use href="./img/icon.svg#icon-GH"></use>
          </svg>
        </a>
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
        >
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
