<section class="project">
    <div class="container container-project">
        <h2 class="project-header">Projects</h2>
        <div class="content">
            <!-- Hashtags -->
            <div class="i">
                <div class="hashtags">
                    <a href="#" class="hashtag">#react</a>
                    <a href="#" class="hashtag">#js</a>
                    <a href="#" class="hashtag">#nodejs</a>
                    <a href="#" class="hashtag">#git</a>
                </div>

                <!-- Title -->
                <p class="programming">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a href="#" class="see-project">See project</a>
            </div>

            <!-- Swiper Section -->
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                        <picture>
                            <source
                                srcset="../img/Projects/desk-project/1-1.jpg 1x, ../img/Projects/desk-project/1-2.jpg 2x"
                                media="(min-width: 1440px)" />
                            <source
                                srcset="../img/Projects/desk-project/1-1.jpg 1x, ../img/Projects/desk-project/1-2.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/Projects/mobile-project/1-1.jpg 1x, ../img/Projects/mobile-project/1-2.jpg 2x"
                                media="(max-width: 767px)" />
                            <img src="../img/Projects/desk-project/1-1.jpg" alt="Registration" width="614"
                                height="385" />
                        </picture>
                    </div>

                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                        <picture>
                            <source
                                srcset="../img/Projects/desk-project/2-1.jpg 1x, ../img/Projects/desk-project/2-2.jpg 2x"
                                media="(min-width: 1440px)" />
                            <source
                                srcset="../img/Projects/desk-project/2-1.jpg 1x, ../img/Projects/desk-project/2-2.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/Projects/mobile-project/2-1.jpg 1x, ../img/Projects/mobile-project/2-2.jpg 2x"
                                media="(max-width: 767px)" />
                            <img src="../img/Projects/desk-project/2-1.jpg" alt="Dog" width="614" height="385" />
                        </picture>
                    </div>

                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                        <picture>
                            <source
                                srcset="../img/Projects/desk-project/3-1.jpg 1x, ../img/Projects/desk-project/3-2.jpg 2x"
                                media="(min-width: 1440px)" />
                            <source
                                srcset="../img/Projects/desk-project/3-1.jpg 1x, ../img/Projects/desk-project/3-2.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/Projects/mobile-project/3-1.jpg 1x, ../img/Projects/mobile-project/3-2.jpg 2x"
                                media="(max-width: 767px)" />
                            <img src="../img/Projects/desk-project/3-1.jpg" alt="Vocab Builder" width="614"
                                height="385" />
                        </picture>
                    </div>
                </div>

                <!-- Swiper Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <!-- Swiper Buttons (Moved) -->
            <div class="swiper-buttons">
                <button class="swiper-button-prev left-arrow" tabindex="0" role="button" aria-label="Previous slide">
                    <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.6666 16H5.33325" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M13.3333 8L5.33325 16L13.3333 24" stroke="#FAFAFA" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button class="swiper-button-next right-arrow" tabindex="0" role="button" aria-label="Next slide">
                    <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.33325 16H26.6666" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M18.6667 8L26.6667 16L18.6667 24" stroke="#FAFAFA" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- CSS Swiper -->
<!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" /> -->